p{
    	font-size: 5px;
    	color:blue;





    }

    @keyframes instruction_underline_color
{
	from
	{
		text-decoration-color:  #f7dc6f ;
		text-shadow:2px 2px navy;
	}
	to
	{	
		text-decoration-color: black;
		text-shadow:2px 2px  #f7dc6f ;
	}
}

@keyframes glowing_title {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #000C9B, 0 0 40px #000C9B, 0 0 50px #000C9B, 0 0 60px #000C9B, 0 0 70px #000C9B;
    color: yellow;
  }
  
  to {
    text-shadow: 0 0 20px #fff,0 0 20px   #48c9b0, 0 0 30px #85c1e9, 0 0 30px #1FFF00, 0 0 40px #1FFF00, 0 0 50px #1FFF00, 0 0 60px #1FFF00, 0 0 70px #1FFF00, 0 0 80px #1FFF00;
    color: #C60000;
  }
}


#question
{
	animation: glowing_title 3s ease-in-out infinite alternate;
}

#name
{
	animation: glowing_title 2s ease-in-out infinite alternate;
}